   <mat-grid-list cols="3" rowHeight="3:1">
        <mat-grid-tile class="grid-list-container">
            <mat-card class="country-card">
                <mat-card-header>
                    <mat-card-title>India</mat-card-title>
                    <mat-card-subtitle>
                        <div class="report">
                            <div class="confirmed-report">Confirmed - 5,916 </div>
                            <div class="survived-report">Recovered - 411</div>
                        </div>
                        <div class="dead-report">Deaths - 178</div>
                    </mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../../assets/images/IndiaFlag.jpg" alt="Photo of a India">
                <mat-card-content>
                    <p>
                        India coronavirus cases have reached 5,916 and the death toll has risen to 178, according to
                        data compiled by Worldometer.
                    </p>
                </mat-card-content>
                <!-- <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions> -->
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile class="grid-list-container">
            <mat-card class="country-card">
                <mat-card-header>
                    <mat-card-title>USA</mat-card-title>
                    <mat-card-subtitle>
                        <div class="report">
                            <div class="confirmed-report">Confirmed - 4,34,114 </div>
                            <div class="survived-report">Recovered - 23,774</div>
                        </div>
                        <div class="dead-report">Deaths - 14,762</div>
                    </mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../../assets/images/usaFlag.jpg" alt="Photo of a USA">
                <mat-card-content>
                    <p>
                        USA coronavirus cases have reached 4,34,114 and the death toll has risen to 14,762, according to
                        data compiled by Worldometer.
                    </p>
                </mat-card-content>
                <!-- <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions> -->
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile class="grid-list-container">
            <mat-card class="country-card">
                <mat-card-header>
                    <mat-card-title>China</mat-card-title>
                    <mat-card-subtitle>
                        <div class="report">
                            <div class="confirmed-report">Confirmed - 81,802 </div>
                            <div class="survived-report">Recovered - 77,279</div>
                        </div>
                        <div class="dead-report">Deaths - 3,333</div>
                    </mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../../assets/images/chinaFlag.png" alt="Photo of a China">
                <mat-card-content>
                    <p>
                        China coronavirus cases have reached 81,802 and the death toll has risen to 3,333, according to
                        data compiled by Worldometer.
                    </p>
                </mat-card-content>
                <!-- <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions> -->
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>