<mat-grid-list cols="3" rowHeight="3:1">
    <mat-grid-tile class="grid-list-container">
        <mat-card class="country-card">
            <mat-card-header>
                <mat-card-title>Spain</mat-card-title>
                <mat-card-subtitle>
                    <div class="report">
                        <div class="confirmed-report">Confirmed - 153,222 </div>
                        <div class="survived-report">Recovered - 52,165</div>
                    </div>
                    <div class="dead-report">Deaths - 15,447</div>
                </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/images/spainFlag.png" alt="Photo of a Spain">
            <mat-card-content>
                <p>
                    Spain coronavirus cases have reached 153,222 and the death toll has risen to 15,447, according to
                    data compiled by Worldometer.
                </p>
            </mat-card-content>
            <!-- <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions> -->
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="grid-list-container">
        <mat-card class="country-card">
            <mat-card-header>
                <mat-card-title>Italy</mat-card-title>
                <mat-card-subtitle>
                    <div class="report">
                        <div class="confirmed-report">Confirmed - 143,626 </div>
                        <div class="survived-report">Recovered - 28,470</div>
                    </div>
                    <div class="dead-report">Deaths - 18,279</div>
                </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/images/italyFlag.png" alt="Photo of a Italy">
            <mat-card-content>
                <p>
                    Italy coronavirus cases have reached 143,626 and the death toll has risen to 18,279, according to
                    data compiled by Worldometer.
                </p>
            </mat-card-content>
            <!-- <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions> -->
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="grid-list-container">
        <mat-card class="country-card">
            <mat-card-header>
                <mat-card-title>Germany</mat-card-title>
                <mat-card-subtitle>
                    <div class="report">
                        <div class="confirmed-report">Confirmed - 118,235</div>
                        <div class="survived-report">Recovered - 52,407</div>
                    </div>
                    <div class="dead-report">Deaths - 2,607</div>
                </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../assets/images/germanyFlag.png" alt="Photo of a Germany">
            <mat-card-content>
                <p>
                    Germany coronavirus cases have reached 118,235 and the death toll has risen to 2,607, according to
                    data compiled by Worldometer.
                </p>
            </mat-card-content>
            <!-- <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions> -->
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>