<div class="footer-container">
    <div>
        <ul class="list">
            <li>
                <a href="#!">Frequently Asked Questions</a>
            </li>
            <li>
                <a href="#!">Browsers and devices</a>
            </li>
            <li>
                <a href="#!">License</a>
            </li>
            <li>
                <a href="#!">ChangeLog</a>
            </li>
            <li>
                <a href="#!">Privacy Policy</a>
            </li>
            <li>
                <a href="#!">Return/Refund policy</a>
            </li>
            <li>
                <a href="#!">For Resellers</a>
            </li>
        </ul>
    </div>
    <div>
        <ul class="list-unstyled">
            <li>
                <a href="#!">Support forum</a>
            </li>
            <li>
                <a href="#!">Articles</a>
            </li>
            <li>
                <a href="#!">News</a>
            </li>
        </ul>
    </div>
    <div>
        <ul class="list-unstyled">
            <li>
                <a href="#!">Angular</a>
            </li>
            <li>
                <a href="#!">React</a>
            </li>
            <li>
                <a href="#!">Vue</a>
            </li>
            <li>
                <a href="#!">Node</a>
            </li>
            <li>
                <a href="#!">Miscellaneous</a>
            </li>
        </ul>
    </div>
    <div>
        <ul class="list-unstyled">
            <li>
                <a href="#!">Our team</a>
            </li>
            <li>
                <a href="#!">Company data</a>
            </li>
            <li>
                <a href="#!">For media</a>
            </li>
        </ul>
    </div>
</div>
<div class="footer-copyright">© 2020 Copyright: <a href="http://example.com/"> Example.com</a>
  </div>